<!DOCTYPE html>
<html>

<head>
    <title>UMPSA Directory</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <div id="container">

        <img alt="UMPSA Logo" oncontextmenu="return false;" src="../assets/logo_umpsa.png"
            style="width: 200px; -webkit-user-drag: none" />

        <h1 style="font-family: sans-serif; margin-bottom: 20px">Student Directory</h1>

        <label for="studentId">Enter Student ID:</label>
        <div class="search-box">
            <input id="studentId" name="studentId" required="" type="text" />
            <button id="clearBtn" type="button">X</button>
        </div>

        <button class="button-85" type="submit">Search</button>

    </div>

    <script src="../scripts/script.js"></script>

</body>

</html>