<!DOCTYPE html>
<html>

<head>
    <title>UMPSA Directory</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <div id="container">

        <img id="logo" src="../assets/logo_umpsa.png" alt="UMPSA Logo" oncontextmenu="return false;" />

        <h1>Student Directory</h1>

        <img id="studentImage" src="https://apps02.ump.edu.my/semakan/displayphoto?id=CB20033" alt="Student Image"
            oncontextmenu="return false;">

        <br>
        <label for="studentId">Enter Student ID:</label>
        <div class="search-box">
            <input id="studentId" name="studentId" required="" type="text" />
            <button id="clearBtn" type="button">X</button>
        </div>

        <button class="button-85" type="submit">Search</button>

    </div>

    <script src="../scripts/script.js"></script>

</body>

</html>