<!DOCTYPE html>
<html>

<head>
    <title>UMPSA Directory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>

    <div id="container">

        <img id="logo" src="{{ url_for('static', filename='assets/logo_umpsa.png') }}" alt="UMPSA Logo"
            oncontextmenu="return false;" />

        <h1>Student Directory</h1>

        <img id="studentImage" src="{{ url_for('static', filename='assets/avatar.png') }}" alt="Student Image"
            oncontextmenu="return false;">

        <p id="studentName">{{ studentName }}</p>

        <form method="POST" action="{{ url_for('display_student_info') }}">

            <label for="studentId">Enter Student ID:</label>
            <div class="search-box">
                <input id="studentId" name="studentId" required="" type="text" />
                <button id="clearBtn" type="button">X</button>
            </div>

            <button class="button-85" type="submit">Search</button>
        </form>

    </div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

</body>

</html>