html {
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 4rem;
}

label {
    font-size: 2rem;
}

.search-box {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 20rem;
}

input[type="text"] {
    font-size: 2rem;
    padding: 0.5rem;
    margin-right: -2.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0px;
    margin-left: -3rem;
}

input[type="text"]:focus+button[type="button"] {
    display: block;
}

button[type="button"] {
    font-size: 1.5rem;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -39px;
}

button[type="button"]:hover {
    background-color: #aaa;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 6px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 6px;
}

button[type="submit"] {
    font-size: 2rem;
    padding: 0.5rem 2rem;
}